body {
  margin: 0;

  background-color: #42317A;
}
#all {
  text-align: center;
}
.place {
  position: fixed;
}
#ferrisWheel {
  left: 15%;
  top: 20%;
}
#dunkTank {
  left: 31%;
  top: 17%;
}
#staffRoom {
  bottom: 16%;
  left: 18%;
}
#entrance {
  left: 34%;
  bottom: 14%
}
#circus {
  right: 21%;
  bottom: 16%;
}
#games {
  top: 40%;
  left: 37%;
}
#booths {
  top: 37%;
  right: 16%;
}
#foodCourt {
  top: 19%;
  right: 26%;
}
.place:hover {
  filter: drop-shadow(0px 0px 10px white);
}
#root {
  position: fixed;
  overflow: hidden;
}
